<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>

<predictive-search class="header-search-container">
  <form action="{{ routes.search_url }}" method="get" role="search">
    <label for="Search">Search</label>
    <input
      id="Search"
      type="search"
      class="header-search-input"
      name="q"
      value="{{ search.terms | escape }}"
      role="combobox"
      aria-expanded="false"
      aria-owns="predictive-search-results"
      aria-controls="predictive-search-results"
      aria-haspopup="listbox"
      aria-autocomplete="list"
     />
    <input name="options[prefix]" type="hidden" value="last" />

    <div id="predictive-search" class="predictive-search-form__content-wrapper" tabindex="-1"></div>
  </form>
</predictive-search>

{% stylesheet %}
  .header-search-container form{
    position: relative;
  }
{% endstylesheet %}
<script type="module">
class PredictiveSearch extends HTMLElement {
  constructor() {
    super();

    this.input = this.querySelector('input[type="search"]');
    this.predictiveSearchResults = this.querySelector('#predictive-search');

    this.input.addEventListener(
      'input',
      this.debounce((event) => {
        this.onChange(event);
      }, 200).bind(this)
    );

    // Close modal when clicking outside
    document.addEventListener('click', (e) => {
      if (!this.contains(e.target)) {
        this.close(true); // true = clear input
      }
    });

    // Close when pressing ESC
    document.addEventListener('keydown', (e) => {
      if (e.key === 'Escape') {
        this.close(true);
      }
    });
  }

  onChange() {
    const searchTerm = this.input.value.trim();

    if (!searchTerm.length) {
      this.close();
      return;
    }

    this.getSearchResults(searchTerm);
  }

  getSearchResults(searchTerm) {
    fetch(`/search/suggest?q=${searchTerm}&section_id=predictive-search`)
      .then((response) => {
        if (!response.ok) {
          var error = new Error(response.status);
          this.close();
          throw error;
        }

        return response.text();
      })
      .then((text) => {
        const resultsMarkup = new DOMParser()
          .parseFromString(text, 'text/html')
          .querySelector('#shopify-section-predictive-search').innerHTML;

        this.predictiveSearchResults.innerHTML = resultsMarkup;
        this.open();
      })
      .catch((error) => {
        this.close();
        throw error;
      });
  }

  open() {
    this.predictiveSearchResults.style.display = 'block';
  }

  close(clearInput = false) {
    this.predictiveSearchResults.style.display = 'none';

    if (clearInput) {
      this.input.value = '';
    }
  }

  debounce(fn, wait) {
    let t;
    return (...args) => {
      clearTimeout(t);
      t = setTimeout(() => fn.apply(this, args), wait);
    };
  }
}

customElements.define('predictive-search', PredictiveSearch);
</script>
