<script src="{{ 'predictive-search.js' | asset_url }}" type="module" defer="defer"></script>

<predictive-search class="header-search-container">
  <form action="{{ routes.search_url }}" method="get" role="search">
    
    <input
      id="Search"
      type="search"
      class="search-input header-search-input"
      name="q"
      value="{{ search.terms | escape }}"
      role="combobox"
      placeholder="Search Products"
      aria-expanded="false"
      aria-owns="predictive-search-results"
      aria-controls="predictive-search-results"
      aria-haspopup="listbox"
      aria-autocomplete="list"
     />
     <span class="svg-wrapper search-btn-right">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="34" viewBox="0 0 32 34" fill="none">
            <path d="M13.7707 23.2139C12.2815 23.2139 10.8256 22.7466 9.58728 21.8711C8.34898 20.9956 7.38384 19.7512 6.81391 18.2953C6.24399 16.8393 6.09487 15.2372 6.38541 13.6917C6.67596 12.1461 7.39312 10.7263 8.44621 9.61203C9.4993 8.49772 10.841 7.73887 12.3017 7.43142C13.7623 7.12398 15.2764 7.28177 16.6523 7.88484C18.0283 8.4879 19.2043 9.50915 20.0317 10.8194C20.8591 12.1297 21.3007 13.6703 21.3007 15.2461C21.3007 16.2925 21.1059 17.3285 20.7275 18.2953C20.3491 19.262 19.7945 20.1403 19.0952 20.8802C18.396 21.6201 17.5659 22.207 16.6523 22.6074C15.7387 23.0078 14.7596 23.2139 13.7707 23.2139ZM13.7707 8.87612C12.584 8.87612 11.424 9.24847 10.4373 9.94608C9.45061 10.6437 8.68158 11.6353 8.22745 12.7954C7.77332 13.9555 7.65451 15.232 7.88602 16.4636C8.11752 17.6951 8.68897 18.8264 9.52808 19.7143C10.3672 20.6022 11.4363 21.2068 12.6002 21.4518C13.7641 21.6968 14.9705 21.571 16.0668 21.0905C17.1632 20.61 18.1003 19.7962 18.7595 18.7522C19.4188 17.7081 19.7707 16.4806 19.7707 15.225C19.7707 13.5412 19.1386 11.9263 18.0134 10.7356C16.8882 9.54501 15.362 8.87612 13.7707 8.87612Z" fill="black"/>
            <path d="M23.0004 25.8056C22.9019 25.8061 22.8042 25.7858 22.7133 25.7459C22.6222 25.7059 22.5397 25.6471 22.4704 25.5728L18.3404 21.2027C18.2079 21.0523 18.1358 20.8534 18.1393 20.6478C18.1427 20.4421 18.2214 20.246 18.3588 20.1006C18.4962 19.9551 18.6816 19.8719 18.8759 19.8683C19.0702 19.8646 19.2582 19.9409 19.4004 20.0811L23.5304 24.4512C23.6709 24.6 23.7498 24.8018 23.7498 25.012C23.7498 25.2224 23.6709 25.4241 23.5304 25.5728C23.4612 25.6471 23.3786 25.7059 23.2876 25.7459C23.1966 25.7858 23.099 25.8061 23.0004 25.8056Z" fill="black"/>
        </svg>
    </span>
    <input name="options[prefix]" type="hidden" value="last" />
    <div id="predictive-search" class="predictive-search-form__content-wrapper" tabindex="-1"></div>
  </form>
</predictive-search>

{% stylesheet %}
    .header-search-container {
        border: 1px solid;
        border-radius: 8px;
    }
  .header-search-container form{
    position: relative;
  }
  .header-search-input{
    border: 1px solid #4f4f4f;
    width: 716px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.4px;
    padding-block: 18px;
    padding-left: 24px;
    border: none;
  }
  .header-search-container form .search-btn-right{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 34px;
    height: 34px;
  }
  .header-search-container form .search-btn-right svg{
    width: 34px;
    height: 34px;
  }
  @media screen and (max-width: 1600px){
    .predictive-search-results__card--product .card-product-title p{
        font-size: 14px;
        line-height: 22px;
        height: 40px;
    }
    .predictive-search-results__card--product .resource-card__content_price_wrapper div[ref=priceContainer] span.price{
        font-size: 20px;
    }
    .predictive-search-results__card--product  .card-product-expiry-container.product-expiry{
        font-size: 12px;
    }
  }
  @media screen and (max-width: 1366px){
    .header-search-input{
        width: 420px;
    }
  }
  @media screen and (max-width: 992px){
    .header-search-container{
        display: none;
    }
  }
{% endstylesheet %}
<script type="module">
class PredictiveSearch extends HTMLElement {
  constructor() {
    super();

    this.input = this.querySelector('input[type="search"]');
    this.predictiveSearchResults = this.querySelector('#predictive-search');

    this.input.addEventListener(
      'input',
      this.debounce((event) => {
        this.onChange(event);
      }, 350).bind(this)
    );

    
      this.input.addEventListener('focus', () => {
        if(this.input.value.length > 0){
          this.open();
          this.predictiveSearchResults.style.display = 'block';
        }
      });
    
    

    this.input.addEventListener('blur', () => {
      this.predictiveSearchResults.style.display = 'none';
    });

    // Close modal when clicking outside
    document.addEventListener('click', (e) => {
      if (!this.contains(e.target)) {
        this.close(true); // true = clear input
      }
    });

    // Close when pressing ESC
    document.addEventListener('keydown', (e) => {
      if (e.key === 'Escape') {
        this.close(true);
      }
    });
  }

  onChange() {
    const searchTerm = this.input.value.trim();

    if (!searchTerm.length) {
      this.close();
      return;
    }

    this.getSearchResults(searchTerm);
  }

  getSearchResults(searchTerm) {
    fetch(`/search/suggest?q=${searchTerm}&section_id=predictive-search`)
      .then((response) => {
        if (!response.ok) {
          var error = new Error(response.status);
          this.close();
          throw error;
        }

        return response.text();
      })
      .then((text) => {
        const resultsMarkup = new DOMParser()
          .parseFromString(text, 'text/html')
          .querySelector('#shopify-section-predictive-search').innerHTML;

        this.predictiveSearchResults.innerHTML = resultsMarkup;
        this.open();
      })
      .catch((error) => {
        this.close();
        throw error;
      });
  }

  open() {
    this.predictiveSearchResults.style.display = 'block';
  }

  close(clearInput = false) {
    this.predictiveSearchResults.style.display = 'none';

    if (clearInput) {
      //this.input.value = ''; 
    }
  }

  debounce(fn, wait) {
    let t;
    return (...args) => {
      clearTimeout(t);
      t = setTimeout(() => fn.apply(this, args), wait);
    };
  }
}

customElements.define('predictive-search', PredictiveSearch);
</script>
