<div class="product-sku-container">
<span class="product-sku">{{ closest.product.selected_or_first_available_variant.sku }}</span>
</div>
{% schema %}
{
  "name": "Product SKU",
  "tag": null,
  "settings": [],
  "presets": [
    {
      "name": "Product SKU",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}