<product-sku>
  <div class="product-sku-container" ref="skuContainer">
  <span class="product-sku">{{ closest.product.selected_or_first_available_variant.sku }}</span>
  </div>
</product-sku>
<script type="application/json" id="ProductJson-{{ product.id }}">
  {{ closest.product | json }}
</script>
<script type="module">
  import { ThemeEvents, VariantUpdateEvent } from '@theme/events';

  class ProductPrice extends HTMLElement {
  connectedCallback() {
    const closestSection = this.closest('.shopify-section, dialog');
    if (!closestSection) return;
    closestSection.addEventListener(ThemeEvents.variantUpdate, this.updateSku);
  }

  disconnectedCallback() {
    const closestSection = this.closest('.shopify-section, dialog');
    if (!closestSection) return;
    closestSection.removeEventListener(ThemeEvents.variantUpdate, this.updateSku);
  }

  /**
   * Updates the price.
   * @param {VariantUpdateEvent} event - The variant update event.
   */
  updateSku = (event) => {
    if (event.detail.data.newProduct) {
      this.dataset.productId = event.detail.data.newProduct.id;
    } else if (event.target instanceof HTMLElement && event.target.dataset.productId !== this.dataset.productId) {
      return;
    }

    const newSku = event.detail.data.html.querySelector('product-sku [ref="skuContainer"]');
    const currentSku = this.querySelector('[ref="skuContainer"]');

    if (!newSku || !currentSku) return;

    if (currentSku.innerHTML !== newSku.innerHTML) {
      currentPrice.replaceWith(newSku);
    }
  };
}

if (!customElements.get('product-sku')) {
  customElements.define('product-sku', ProductPrice);
}


</script>
{% schema %}
{
  "name": "Product SKU",
  "tag": null,
  "settings": [],
  "presets": [
    {
      "name": "Product SKU",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}