<style>
        .yy-career-content-section-container{
            margin-top: 130px;
            margin-bottom: 80px;
        }
        .yy-career-content-section-container > h1{
            font-weight: 900;
            font-size: 38px;
            line-height: 64px;
            color: #000;
            margin-block-end: 24px !important;
        }
        .yy-career-content-row{
            display: flex;
            gap: 100px;
            align-items: flex-start;
        }
        .yy-career-content-column{
            width: 100%;
        }
        .yy-career-content-column p{
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            margin: 0;
        }
        .yy-career-content-column p a{
            font-weight: 700;
            color: red;
            text-decoration: none;
        }
        .yy-career-list-container{
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 84px;
        }
        .yy-career-list-item{
            display: flex;
            gap: 27px;
            padding: 24px 27px;
            border-radius: 18px;
            border: 1px solid #000000;
        }
        .yy-career-icon{
            background-color: #ED1D2329;
            padding: 15px 18px;
        }
        .yy-career-icon img{
            width: 92px;
            height: 92px;
        }
        .yy-career-content-block{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .yy-career-content{
            display: flex;
            flex-direction: column;
            gap: 7px;
        }
        .yy-career-content_title{
            font-weight: 800;
            font-size: 22px;
            line-height: 30px;
            margin: 0;
        }
        .yy-career-content_description > p span{
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
        }
        .yy-career-content_description > p{
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            margin: 0;
        }
        .yy-career-button .button{
            font-weight: 700;
            font-size: 18px;
            line-height: 25.2px;
            padding: 17px 33px
        }
        @media screen and (max-width: 1024px){
            .yy-career-content-section-container{
                margin-top: 60px;
                margin-bottom: 30px;
            }
            .yy-career-content-row{
                gap: 30px;
            }
        }
        @media screen and (max-width: 900px){
            .yy-career-content-section-container{
                margin-top: 40px;
                margin-bottom: 20px;
            }
            .yy-career-content-row{
                flex-direction: column;
                gap: 20px;
            }
            .yy-career-list-container{
                grid-template-columns: 1fr;
            }
        }
         @media screen and (max-width: 768px){
            .yy-career-list-container{
                gap: 15px;
                margin-top: 50px;
            }
            .yy-career-content-block{
                gap: 12px;
            }
            .yy-career-icon-block{
                width: max-content;
            }
            .yy-career-icon img{
                width: 62px;
                height: 62px;
            }
         }
         @media screen and (max-width: 600px){
            .yy-career-list-item{
                flex-direction: column;
            }
        }
    </style>

    <div class="yy-career-content-section-wrapper section section--page-width">
        <div class="yy-career-content-section-container">
            <h1>Careers</h1>
            <div class="yy-career-content-row">
                <div class="yy-career-content-column">
                    <p>As a responsible employer, we offer a friendly and ethical work environment to our staff.</p>
                    <p>We welcome your interest in working with us, and encourage you to apply by sending through your most recent resume and cover letter directly on <a href="#">info@yesyesindiansupermarket.com.au</a></p>
                    <p>Please note that due to the high number of applications, we will get in touch with selected candidates only.</p>
                </div>
            </div>
            <div class="yy-career-list-container">
                <div class="yy-career-list-item">
                    <div class="yy-career-icon-block">
                        <div class="yy-career-icon">
                            <img src="https://cdn.shopify.com/s/files/1/0979/1825/5185/files/sales-executive.svg?v=1764334416" width="" height="" alt="">
                        </div>
                    </div>
                    <div class="yy-career-content-block">
                        <div class="yy-career-content">
                            <h2 class="yy-career-content_title">Sales Executive</h2>
                            <div class="yy-career-content_description">
                                <p><span>Qualification :</span> Any Graduation, Good Communication Skills</p>
                                <p><span>Location :</span> Burnside Hub, Opalia Plaza  </p>
                            </div>
                        </div>
                        <div class="yy-career-button">
                            <button class="button button--primary">APPLY NOW</button>
                        </div>
                    </div>
                </div>
                
                <div class="yy-career-list-item">
                    <div class="yy-career-icon-block">
                        <div class="yy-career-icon">
                            <img src="https://cdn.shopify.com/s/files/1/0979/1825/5185/files/sales-executive.svg?v=1764334416" width="" height="" alt="">
                        </div>
                    </div>
                    <div class="yy-career-content-block">
                        <div class="yy-career-content">
                            <h2 class="yy-career-content_title">Sales Executive</h2>
                            <div class="yy-career-content_description">
                                <p><span>Qualification :</span> Any Graduation, Good Communication Skills</p>
                                <p><span>Location :</span> Burnside Hub, Opalia Plaza  </p>
                            </div>
                        </div>
                        <div class="yy-career-button">
                            <button class="button button--primary">APPLY NOW</button>
                        </div>
                    </div>
                </div>

                <div class="yy-career-list-item">
                    <div class="yy-career-icon-block">
                        <div class="yy-career-icon">
                            <img src="https://cdn.shopify.com/s/files/1/0979/1825/5185/files/sales-executive.svg?v=1764334416" width="" height="" alt="">
                        </div>
                    </div>
                    <div class="yy-career-content-block">
                        <div class="yy-career-content">
                            <h2 class="yy-career-content_title">Sales Executive</h2>
                            <div class="yy-career-content_description">
                                <p><span>Qualification :</span> Any Graduation, Good Communication Skills</p>
                                <p><span>Location :</span> Burnside Hub, Opalia Plaza  </p>
                            </div>
                        </div>
                        <div class="yy-career-button">
                            <button class="button button--primary">APPLY NOW</button>
                        </div>
                    </div>
                </div>

                <div class="yy-career-list-item">
                    <div class="yy-career-icon-block">
                        <div class="yy-career-icon">
                            <img src="https://cdn.shopify.com/s/files/1/0979/1825/5185/files/sales-executive.svg?v=1764334416" width="" height="" alt="">
                        </div>
                    </div>
                    <div class="yy-career-content-block">
                        <div class="yy-career-content">
                            <h2 class="yy-career-content_title">Sales Executive</h2>
                            <div class="yy-career-content_description">
                                <p><span>Qualification :</span> Any Graduation, Good Communication Skills</p>
                                <p><span>Location :</span> Burnside Hub, Opalia Plaza  </p>
                            </div>
                        </div>
                        <div class="yy-career-button">
                            <button class="button button--primary">APPLY NOW</button>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>

{% schema %}
{
  "name": "Career Content",
  "tag": "section",
  "class": "career-content-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner image"
    }
  ],
  "presets": [
    {
      "name": "Career Content"
    }
  ]
}
{% endschema %}