<style>
        .yy-sponser-content-wrapper{
            padding-top: 130px;
            padding-bottom: 130px;
        }
        .yy-sponser-content-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 89px;
        }
        .yy-sponser-content-column.image-column{
            width: 100%;
            height: 100%;
        }
        .yy-sponser-content-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .form-column form input {
            width: 100%;
            border: 1px solid #ccc;
            margin-bottom: 30px;
            height: 55px;
            padding: 15px 24px;
            border-radius: 6px;
            font-weight: 400;
            font-size: 16px;
            line-height: 21.4px;
        }
        .form-column form textarea{
            width: 100%;
            border: 1px solid #ccc;
            margin-bottom: 30px;
            border-radius: 6px;
            padding: 15px 24px;
            font-weight: 400;
            font-size: 16px;
            line-height: 21.4px;
        }
        .form-column form button{
            width: 230px;
        }
        @media screen and (max-width: 768px){
            .yy-sponser-content-container{
                grid-template-columns: 1fr;
            }
        }
    </style>
    <div class="yy-sponser-content-wrapper section section--page-width">
        <div class="yy-sponser-content-container">
            <div class="yy-sponser-content-column form-column">
                <h1>Sponsorship & Grants</h1>
                {% form 'contact' %}
                {{ form.errors | default_errors }}

                <div className="name">
                    <input type="text" name="contact[name]" placeholder="Name" id="name" />
                </div>

                <div className="phone">
                    <input type="tel" name="contact[phone]" placeholder="Phone" id="phone" />
                </div>

                <div className="email">
                    <input type="email" name="contact[email]" placeholder="Email" id="email" />
                </div>

                <div className="message">
                    <textarea name="contact[body]" id="message" placeholder="How can we help you?"></textarea>
                </div>

                <div className="submit">
                    <button type="submit" class="button button--primary" value="SUBMIT">SUBMIT</button>
                </div>
                {% endform %}
            </div>
            <div class="yy-sponser-content-column image-column">
                <img class="yy-sponser-content-image" src="https://cdn.shopify.com/s/files/1/0979/1825/5185/files/sponder-content-image.png?v=1764595131" width="" height="" alt="">
            </div>
        </div>
    </div>

    {% schema %}
    {
    "name": "Sponsor Content",
    "tag": "section",
    "class": "sponsor-page-content",
    "settings": [
    
  ],
  "presets": [
    {
      "name": "Sponser Content"
    }
  ]
}
{% endschema %}