
{{ 'youtube-lite.css' | asset_url | stylesheet_tag}}
<script src="{{ 'youtube-lite.js' | asset_url }}" defer></script>

<style>
        .about-video-section-wrapper{
             {% comment %} padding-top: 200px;
             margin-top: 200px; {% endcomment %}
             position: relative;
        }
        .about-video-section-container{
            background-color: #ED1D23;
            {% comment %} padding-top: 300px {% endcomment %}
        }
        
        .about-video-content{
            padding: 20px;
            padding-bottom: 56px;
        }
        {% comment %} .about-video-wrapper{
            /* margin-top: -400px; */
            position: absolute;
            top: -100px; 
            left: 0;
            right: 0;
            /* transform: translateX(-50%); */
            width: 100%;
            max-width: 100%;
        } {% endcomment %}
        .about-video-container{
            padding: 20px;
            margin-top: 25%;
        }
        .about-video-container lite-youtube{
            width: 85%;
            height: 60vh;
            margin: 0 auto;
            max-width: 100%;
            margin-top: -18%;
        }
        .about-video-content{
            max-width: 883px;
            margin: 0 auto;
        }
        .about-video-content p{
            font-weight: 700;
            font-size: 34px;
            line-height: 44px;
            text-align: center;
            color: white;
        }
    </style>
    <div class="about-video-section-wrapper">
            <div class="about-video-section-container">
                    <div class="about-video-wrapper">
                        <div class="about-video-container">
                            <lite-youtube videoid="bmRfA3Pooig"></lite-youtube>
                        </div>
                    </div>
                    <div class="about-video-content">
                        <p>For any popular brand of Indian origin;  “you name it and we make sure we have a yes for you.”</p>
                    </div>
            </div>
    </div>

{% schema %}
{
  "name": "About Video",
  "tag": "section",
  "class": "about-video-section",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
    "type": "video_url",
    "id": "video_link",
    "label": "Youtube Video",
    "accept": [
        "youtube"
    ]
}
  ],
  "presets": [
    {
      "name": "About Video"
    }
  ]
}
{% endschema %}