*{
    font-family: inter;
}
p.announcement-bar__text {
    font-weight: 700;
}
.announcement-menu.menu--right {
    display: flex;
    gap: 40px;
    z-index: 2;
    width: fit-content;
}
span.announcement-menu .menu-item {
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s;
}
span.announcement-menu .menu-item:hover {
    text-decoration: underline;
    transition: 0.5s;
}
.announcement-bar__slides.with-menu {
    width: 100%;
    max-width: 100%;
}
.header__row.header__row--top {
    border-bottom: 1px solid #828282;
}
.header__row.header__row--bottom{
    padding-top: 20px;
}
.header-logo__image-container {
    padding-bottom: 15px;
    padding-top: 4px;
}
/* menu */
.header__column--left{
    gap: 60px;
}
span.modal-button-label {
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0;
    position: relative;
}
.all-categories.button-modal {
    display: flex;
    width: fit-content;
    gap: 18px;
    padding: 17px;
    min-width: 320px;
    background-color: #fff;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}
span.modal-button-label:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    right: -40px;
    border: 1px solid black;
    border-width: 0px 1px 1px 0;
    transform: rotate(45deg);
    top: 3px;
    transition: transform 0.3s ease, top 0.3s ease;
}
.all-categories.active span.modal-button-label:after {
    transform: rotate(225deg);
    top: 10px;
}
overflow-list.overflow-menu .menu-list__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.all-categories+.header-menu .menu-list {
    padding-left: 32px;
}
.header-contact-wrapper .header-phone-number {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
    text-wrap-mode: nowrap;
    position: relative;
}
.header-contact-wrapper {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 0;
}
.resource-list__item.span-2{
    grid-column: span 2;
}
slideshow-controls:has(.slideshow-controls__dots), slideshow-component[autoplay] slideshow-controls{
    mix-blend-mode: normal;
}
.slideshow-controls__dots.slideshow-controls__dots button[aria-selected="false"]:after{
    background-color: #9b9b9b;
}
.slideshow-controls__dots.slideshow-controls__dots button[aria-selected="true"]:after{
    background-color: #ff0000;
}
.slideshow-controls__dots button[aria-selected=true] {
    border: 1px solid red;
}
slideshow-controls[controls-on-media] {
    position: absolute;
    bottom: -42px;
}
.predictive-search-form .predictive-search-form__content-wrapper{
  display: none;
  transition: 0.4s;
  box-shadow: 3px -1px 26px 5px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 5px 0px 26px 5px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 3px -1px 26px 5px rgba(0,0,0,0.24);
  border-radius: 5px;
  margin-top: 6px;
  width: 140%;

}
.predictive-search.active-search .predictive-search-form .predictive-search-form__content-wrapper{
  display: flex;
  transition: 0.4s;
}
.predictive-search:has(.predictive-search-dropdown) .search-input {
    border: 1px solid #4f4f4f;
    width: 716px;
    border-radius: 5px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    font-family: Inter;
    line-height: 21.4px;
    padding-block: 18px;
    padding-left: 24px;
}
.predictive-search:has(.predictive-search-dropdown) .search-input:hover {
    border: 1px solid #ed1d23;
}
.predictive-search__reset-button{
    position: absolute;
    right:0;
}
.predictive-search-form__header .predictive-search__close-modal-button{
    display: none;
}
.search-btn-right{
    position: absolute;
    right:20px;
}
.predictive-search__reset-button:not([hidden])+.svg-wrapper.search-btn-right{
    display: none;
}
span.header__secondary-menu {
    position: absolute;
    z-index: 3;
    background: transparent;
    width: 70vw;
    top: 60px;
    left: 0;
    padding-top: 22px;
    min-height: 50vh;
    height: 100%;
    transition: all 0.4s ease-in-out;
}
button.account-button.header-actions__action span svg {
    min-width: 32px;
}
.header-actions__action {
    margin-right: 24px;
}
span.header-icons-label {
    display: flex;
    align-items: center;
    margin: auto;
}
a.slider-overlay-link {
    position: absolute;
    /* background: #1200ff61; */
    width: 100%;
    height: 100%;
    z-index: 4;
}
.cart-total {
    display: flex;
    align-items: center;
    background: #e50914;
    padding: 0 4px;
    border-radius: 10px;
    min-height: 30px;
    margin: auto 5px auto 2px;
    color: white;
    font-weight: 600;
}
/* // Mega Menu */
/* Mega menu container */
.mega-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 28px;
    padding: 44px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid rgba(220, 20, 60, .06);
    margin: 0 auto;
    box-sizing: border-box;
    height: 100%;
    transition: 0.5s;
    padding-bottom: 20px;
}

/* Column wrapper */
.menu-column {
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}
.menu-column:after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background: #ED1D23;
    right: -13px;
}
/* Top-level category title */
.menu-title {
    margin: 0 0 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    text-transform: uppercase;
    text-align: justify;
}
.menu-title a {
  color: #e53935; /* red */
  text-decoration: none;
}
.email-signup__input-group  .email-signup__button:not(.button-unstyled){
    background-color: #ED1D23;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    border-radius: 5px;
}
.group-block-content .menu__details .details-content .menu__item + .menu__item a{
    font-weight: 400;
    font-size: 16px;
    line-height: 21.4px;
}
.group-block-content .menu__details .details-content .menu__item.paragraph:not(.menu__item + .menu__item) a{
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0;
}
/* Lists */
.submenu,
.sub-submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* First-level submenu items */
.submenu > li {
  margin-bottom: 6px;
}
.submenu-link {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
}
.submenu-link:hover {
  color: #e53935;
}
.menu-column ul li {
    text-align: left;
}
/* Second-level (grandchild) items indentation / smaller */
.sub-submenu {
  margin-top: 6px;
  padding-left: 12px; /* indent */
}
.sub-submenu-link {
  font-size: 12px;
  color: #555;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 4px;
}
.sub-submenu-link:hover {
  color: #e53935;
}
span.header__secondary-menu.active .mega-menu {
    background: green;
}
.header__secondary-menu.hidden-menu {
    height: 0px;
    min-height: 0px;
    opacity: 0;
    /* z-index: -99; */
}
.header__secondary-menu.hidden-menu .mega-menu {
    display: none;
}
.predictive-search__close-modal-button{
    display: none;
}
dialog.search-modal__content.dialog-modal[open] .predictive-search__close-modal-button{
    display: flex;
}
.email-signup__heading.h5 {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.4px;
    letter-spacing: 0;
}
.section_view_all {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 19px 64px;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0;
    border: 1px solid #ED1D23;
    margin: 0 auto;
    outline: none;
    --button-border-color: none;
}
.section_view_all:hover {
    background: #ED1D23;
    color: #fff;
}
.blog-details-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
}
.featured_blog_date, .featured_blog_author{
    display: flex;
    gap: 6px;
}
.resource-list.hidden--mobile.resource-list--grid{
    gap: 30px;
}
.featured-blog-posts-card img.image-block__image {
    border-radius: 10px;
}
div[id*=blog-post-description] rte-formatter {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0;
}
.blog-details-wrapper {
    margin-top: 8px;
}
.blog_read_more {
    margin-top: 32px;
    padding: 9px 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0;
}
span.Additional_menu_flex {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
    margin-left: 42px;
}
a.popular_products_tabs {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
}
.popular_products_tabs:hover {
    font-weight: 700;
}
footer .group-block-content.layout-panel-flex.layout-panel-flex--row.mobile-column {
    align-items: center;
}
span.wishlist-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 4px;
}
header-actions {
    width: auto;
    min-width: fit-content;
    padding-left: 30px;
}
span.header-contact-label
 {
    font-weight: 400;
    font-size: 14px;
    line-height: 12.6px;
    letter-spacing: 0;
    position: absolute;
    left: 0;
    bottom: -3px;
}
h2.featured-categories__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0;
}
.email-signup__input.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.4px;
    letter-spacing: 0;
}
slideshow-slides .group-block-content.layout-panel-flex.layout-panel-flex--column.mobile-column {
    min-height: 360px;
}
.predictive-search-results__inner{
    display: flex;
}

/* Search Results */
.search-results-container-one {
    min-width: 360px;
    padding: 30px 24px;
}
.search-category-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0;
    text-transform: uppercase;
    padding-bottom: 14px;
}
li.predictive-search-results__card.predictive-search-results__card--product {
    background: white;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    padding: 12px;
}
.resource-card__content_price_wrapper div[ref="priceContainer"] span.price {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.resource-card__content_price_wrapper {
    display: flex;
    justify-content: space-between;
}
.predictive-search__search-button.section_view_all {
    padding: 14px 50px;
}
.resource-card__media {
    padding: 32px;
}
.resource-card__content_price_wrapper .compare-at-price{
    display: none;
}
li.predictive-search-results__card--query {
    display: flex;
    align-items: center;
}
img.resource-card__image.resource-card__image--secondary {
    max-width: calc(100% - 48px);
    max-height: calc(100% - 48px);
    top: 24px;
}
.pills__pill span {
    font-family: Inter;
    font-size: 16px;
    line-height: 21.4px;
    letter-spacing: 0;
}
/* Cart */

.cart-drawer__heading.h3 {
    font-family: Inter;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0;
    vertical-align: middle;
    text-transform: uppercase;
}
cart-items-component .close-button{
    top: 55px;
}
.cart-drawer__dialog .cart-drawer__heading .cart-bubble__background {
    background: none;
}
.cart-drawer__dialog .cart-drawer__heading .cart-bubble__text-count{
    font-family: Inter;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0;
    vertical-align: middle;
}
/* Responsive behavior */
@media (max-width: 1100px) {
  .mega-menu { grid-template-columns: repeat(3, 1fr); }
}
@media (max-width: 700px) {
  .mega-menu { grid-template-columns: repeat(2, 1fr); padding: 16px; gap: 16px; }
}
@media (max-width: 420px) {
  .mega-menu { grid-template-columns: 1fr; }
}
.mobile-hidden-flex{
    display: flex !important;
}
.desktop-hidden-flex{
    display: none !important;
}
.header__columns.spacing-style {
    position: relative;
}
@media (max-width: 1366px) {
    .predictive-search:has(.predictive-search-dropdown) .search-input{
        width: 420px;
    }
    .header-contact-wrapper {
        display: none;
    }
    slideshow-slides .group-block-content.layout-panel-flex.layout-panel-flex--column.mobile-column {
        min-height: 240px;
    }
    .predictive-search-form .predictive-search-form__content-wrapper{
        width: 125%;
    }
}
@media (max-width: 1100px) {
    .predictive-search-results__inner{
        flex-direction: column;
        gap: 20px;
    }
}
@media (max-width: 992px) {

    .mobile-hidden-flex{
        display: none !important;
    }
    .desktop-hidden-flex{
        display: flex !important;
    }
    .predictive-search-form .predictive-search-form__content-wrapper{
        display: flex;;
    }
    .search-btn-right {
        right: 60px;
    }
    .predictive-search:has(.predictive-search-dropdown) .search-input {
        width: 100%;
    }
    .open-search-modal-wrapper dialog-component predictive-search-component {
        display: flex;
    }
    .open-search-modal-wrapper predictive-search-component {
        display: none;
    }
    span.header-icons-label{
        display: none;
    }
    .header-actions__action{
        margin-right: 0;
    }
    slideshow-container .slide__image-container > .slide__image{
        object-fit: contain;
    }
    slideshow-slides[size=small] {
        min-height: 100px !important;
    }
    slideshow-component slideshow-slides[size=medium] {
        min-height: 100px;
    }
    span.Additional_menu_flex {
        display: none;
    }
    span.footer-utilities__text {
        text-wrap: auto;
    }
    .hero__image{
        object-fit: scale-down;
    }
    .blog-details-wrapper {
        flex-direction: column;
        gap: 10px;
    }
    .featured-blog-posts-card__content div[id*="_blog-post-description"] rte-formatter{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    slideshow-slides .group-block-content.layout-panel-flex.layout-panel-flex--column.mobile-column {
        min-height: 240px;
    }
    .cart-total {
        font-size: 12px;
        padding: 0 4px;
        min-height: 24px;
    }
    .dialog-modal .predictive-search-form__header:has( .predictive-search__reset-button:not(.predictive-search__reset-button[hidden]) ) .predictive-search__close-modal-button{
        opacity: 0;
        pointer-events: none;
    }
    .predictive-search-form__header .predictive-search__reset-button{
        margin-right: 4px;
    }
}
@media (max-width: 767px) {
    slideshow-slides .group-block-content.layout-panel-flex.layout-panel-flex--column.mobile-column {
        min-height: 200px;
    }
}
@media (max-width: 440px) {
    slideshow-slides .group-block-content.layout-panel-flex.layout-panel-flex--column.mobile-column {
        min-height: 100px;
    }
    .featured-blog-posts-card .resource-image .image-block__image {
        object-fit: contain;
    }
}
@media (min-width: 1900px) {
    .predictive-search:has(.predictive-search-dropdown) .search-input {
        width: 43.5vw;
        max-width: 900px;
    }
    slideshow-slides .group-block-content.layout-panel-flex.layout-panel-flex--column.mobile-column {
        min-height: 22vw;
    }
}