.announcement-menu.menu--right {
    display: flex;
    gap: 40px;
}
span.announcement-menu .menu-item {
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s;
}
span.announcement-menu .menu-item:hover {
    text-decoration: underline;
    transition: 0.5s;
}