.product-information .product-media-container {
    border: 1px solid #00000033;
    border-radius: 8px;
}
.slideshow-controls__thumbnails{
    margin: 0;
}
.slideshow-controls__thumbnails .slideshow-control{
    border: 1px solid #00000033;
    border-radius: 8px;
}