.product-information .product-media-container {
    border: 1px solid #00000033;
    border-radius: 8px;
}
.slideshow-controls__thumbnails{
    margin: 0;
}
.slideshow-controls__thumbnails .slideshow-control{
    border: 1px solid #00000033;
    border-radius: 8px;
}
.product-page-title h1{
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
}
.product-details .price{
    font-weight: 700;
    font-style: Bold;
    font-size: 34px;
    line-height: 44px;
}
.product-details .compare-at-price{
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 28px;
    text-decoration: line-through;
}
.product-details product-price > div{
    display: flex;
    align-items: center;
    gap: 30px;
}
.product-price-container .product-low-stock-container{
    display: none;
}
.product-details .product-price-container .product-low-stock-container{
    display: flex;
    align-items: center;
}
.low-stock-circle{
    width: 16px;
    height: 16px;
    background: #EFAE1A;
    border-radius: 50px;
}
.low-stock-text{
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}