.header__row.header__row--bottom{
    border-bottom: 1px solid #828282;
}
.product-card{
    border: 1px solid #D1D1D1;
    border-radius: 7px;
    padding: 16px;
}
.card-product-type{
    font-weight: 400;
    font-size: 14px;
    line-height: 12.6px;
    color: #676666;
    min-height: 14px;
}
.card-product-title p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 60px;
    color: #000000;
}
.card-product-vendor p{
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
    color: #676666 !important;
    min-height: 14px;
}
.product-card .price{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.product-price-container {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-card product-price{
    width: auto;
}
.card-product-expiry-container{
    width: 100%;
    flex-basis: 125px;
}
.product-media{
    padding: 25px;
}
.product-grid.product-list-view .product-media{
    padding: 0;
}
.product-grid.product-list-view .card-product-expiry-container{
    flex-basis: unset;
}
.card-product-expiry-container .product-expiry{
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
    border-radius: 6px;
    background: #fee9e9;
    padding: 5px 13px;
    color: #ED1D23;
    display: inline-flex;
    text-align: center;
}
@media screen and (max-width: 1250px){
    .card-product-expiry-container .product-expiry{
        font-size: 12px;
    }
}
.add-to-cart-button{
    font-weight: 700;
    font-size: 16px;
    height: 55px !important;
}
.svg-wrapper.add-to-cart-icon, .svg-wrapper.add-to-cart-icon svg{
    width: 32px;
    height: 32px;
}
.add-to-cart-button{
    height: 60px;
}
.product-badges--top-right.wishlist-icon-position{
    top: 11px;
    right: 11px;
}
.svg-wrapper.collection-wishlist-icon {
    color: #ED1D23;
    width: 42px;
    height: 42px;
}
.svg-wrapper.collection-wishlist-icon svg{
    width: 42px;
    height: 42px;
}
.product.collection-wishlist-icon{
    color: black;
    width: 46px;
    height: 46px;
}
.product-badges--top-right.product.wishlist-icon-position{
    top: 24px;
    right: 24px;
}
facet-remove-component.custom-filter-reset{
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
    color: #ED1D23;
    cursor: pointer;
}
facet-remove-component.custom-filter-reset:hover{
    opacity: 0.7;
}
facet-remove-component.custom-filter-reset .svg-wrapper, facet-remove-component.custom-filter-reset .svg-wrapper svg{
    width: 24px;
    height: 24px;
}
.custom-price-reset{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.facets-remove.facets-remove--mobile-and-vertical {
    display: none;
}
.filter-bar-grid facets-form-component.facets__form-wrapper{
    display: none;
}
.infinite-scroll-loading{
    width: 45px;
    height: 45px;
    aspect-ratio: unset;
    object-fit: unset;
}
.facets_status_price-filter{
    display: none !important;
}
.compare-at-price{
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    padding-left: 15px;
    color: #727272;
}
@media (min-width: 1525px) {
    .product-grid--template--26745668304977__main:is(.product-grid--grid) {
        --product-grid-columns-desktop: repeat(auto-fill, minmax(320px, 1fr));
    }
}
@media screen and (max-width: 750px){
    .product-card{
        padding: 8px 6px;
    }
    .card-product-type {
        font-size: 12px;
        line-height: 12px;
    }
    .card-product-title p {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        height: 44px;
    }
    .card-product-vendor p {
        font-size: 12px;
        line-height: 16px;
    }
    
    .product-price-container{
        gap: 4px;
    }
    .product-card product-price, .card-product-expiry-container{
        text-align: left;
    }
    .card-product-expiry-container .product-expiry {
        font-size: 10px;
        line-height: 14px;
        padding: 3px 9px;
    }
    .compare-at-price {
        font-size: 14px;
        line-height: 22px;
    }
    .add-to-cart-button{
        font-size: 12px;
        padding: 0;
        margin-top: 8px;
    }
    .add-to-cart-button.button-secondary{
        padding: 0;
    }
    .svg-wrapper.add-to-cart-icon, .svg-wrapper.add-to-cart-icon svg {
        width: 22px;
        height: 22px;
    }
    .svg-wrapper.collection-wishlist-icon{
        width: 24px;
    }
    .quick-add-btn{
        margin-top: 8px !important;
    }
    .product-form-buttons{
        padding-top: 0;
    }
    .collection-load-more-btn{
        font-size: 14px;
        line-height: 25.2px;
        width: 180px;
        height: 40px;
    }
    .infinite-scroll-loading{
        height: 25px;
        width: 25px;
    }
    
}

.product-grid.product-list-view {
    grid-template-columns: 1fr !important;
}
.product-grid.product-list-view .product-card .product-grid__card{
    flex-direction: row;
    display: grid;
    grid-template-columns: 120px 40% 1fr 1fr;
}
.product-grid.product-list-view .product-card  .product-price-container{
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}
.product-grid.product-list-view .product-card  .card-product-vendor{
    display: none;
}
.product-grid.product-list-view .sale-ribbon{
    padding: 1.5px 10px; 
    top: 8px;
}
.list-view.card-product-vendor{
    display: none;
}
.product-grid.product-list-view .list-view.card-product-vendor{
    display: block;
}
.product-grid.product-list-view .product-grid-title-container {
    padding: 0 15px;
}
.product-grid.product-list-view .svg-wrapper.collection-wishlist-icon{
    width: 30px;
    height: 30px;
}
.product-grid.product-list-view .shopify-product-form{
    width: 100%;
}
.product-grid.product-list-view .sold-out-button-container {
    display: flex;
    align-items: center;
}

.product-grid.product-list-view .product-badges--top-right.wishlist-icon-position{

}
.product-grid.product-list-view .quick-add-button-wrapper{
    display: flex;
    align-items: center;
}
.product-grid.product-list-view .quick-add-button-wrapper .quick-add-btn{
    margin: 0;
}
.product-grid.product-list-view .buy-buttons-block{
    height: 100%;
    display: flex;
    align-items: center;
}
.product-grid.product-list-view product-form-component {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
}
.product-grid.product-list-view product-form-component .add-to-cart-button.card-atc-button{
    margin-top: 0;
}
.product-grid.product-list-view .product-form-buttons {
    padding: 0;
}
.facets__summary{
    text-transform: uppercase;
}
.field__label.price-facet__label{
    display: none;
}
.price-facet__input{
    padding-left: 8px !important;
    text-align: left !important;
}
.price-facet__input::placeholder{
    color: black !important;
}
.sorting-filter .facets__summary .icon-caret{
    width: 18px;
    height: 18px;
    color: #000;
}
.product-card__content{
    justify-content: space-between;
}
.category-list-item {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    margin-bottom: 12px;
    align-items: center;
}
.category-item_title-container {
    display: flex;
    align-items: center;
    gap: 8px;
}
p.category-item_title{
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
    margin: 0;
}
.category-item_count{
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #ED1D23;
    width: 50px;
    text-align: center;
}
.card-atc-button{
    width: 100%;
    place-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    border-radius: 8px;
} 
.sold-out-button{
    width: 100%;
    font-weight: 600;
    border-radius: 8px;
    height: 55px;
}
.add-to-cart-button.card-atc-button {
    margin-top: 18px;
}
.product-page.sale-ribbon{
    width: 105px;
    height: 48px;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    justify-content: center;
    padding-left: 8px;
    padding-right: 20px;
}
.wishlist-icon-position .product-badges__badge{
    background: transparent;
}
.card-product-more-option{
    font-weight: 400;
    font-size: 14px;
    line-height: 12.6px;
    margin: 0;
    margin-bottom: 14px;
    color: #676666;
    text-align: center;
    min-height: 14px;
}
.product-grid.product-list-view  .card-product-more-option{
    display: none;
}
@media screen and (max-width: 1024px) {
    .resource-list--grid {
        --resource-list-columns: repeat(3, 1fr) !important;
    }
    .product-card .price {
        font-size: 18px;
        line-height: 22px;
    }
    .compare-at-price{
        font-size: 14px;
        line-height: 20px;
        padding-left: 5px;
    }
    .card-product-expiry-container .product-expiry {
        font-size: 10px;
    }
    .product-price-container{
        flex-wrap: nowrap;
    }
    .card-product-expiry-container{
        display: flex;
        justify-content: end;
    }
    .resource-list.hidden--mobile.resource-list--grid{
        gap: 15px;
    }
    .add-to-cart-button, .sold-out-button{
        font-size: 14px;
        height: 45px !important;
    }
}

@media screen and (max-width: 820px){
    .add-to-cart-button{
        padding: 0 5px;
    }
    .product-price-container .product-price{
        width: fit-content;
    }
    .product-price-container product-price div{
        width: min-content;
    }
    .add-to-cart-button, .sold-out-button{
        font-size: 14px;
        height: 45px !important;
    }
    .product-grid{
        gap: 15px;
    }
}
@media screen and (max-width: 600px) {
    .add-to-cart-button {
        font-size: 14px;
        height: 35px !important;
    }
    .add-to-cart-button.card-atc-button{
        margin-top: 8px;
    }
    .product-grid{
        gap: 8px;
    }
    .sold-out-button{
        height: 35px !important;
    }
    .product-price-container product-price div {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px;
    }
    .product-price-container{
        flex-wrap: wrap;
    }
    .card-product-expiry-container{
        justify-content: flex-start;
    }
    .variants-container{
        display: block;
    }
    .variants-container tbody{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .card-product-more-option{
        font-size: 12px;
        margin-bottom: 6px;
    }
    .product-card .price {
        font-size: 16px;
        line-height: 24px;
    }
}


@media screen and (max-width: 1024px) {
   .product-grid.product-list-view  .card-product-expiry-container {
        display: unset;
        flex-basis: unset;
    }
    .facets__label {
        font-size: 20px;
    }
    .product-grid.product-list-view .svg-wrapper.add-to-cart-icon{
        width: 22px;
        height: 22px;
    }
    .product-grid.product-list-view .add-to-cart-button{
        font-size: 14px;
        height: 40px !important;
        padding: 5px;
    }
}
@media screen and (max-width: 820px){
    .column-options-wrapper:has(.product-view-container){
        display: none !important;
    }
    .filter-bar-grid .facets--horizontal {
        justify-content: space-between;
    }
    .products-count-wrapper{
        margin-left: unset !important;
    }
}
@media screen and (max-width: 600px){
    .column-options-wrapper:has(.product-view-container){
        display: flex !important; 
    }
}