.product-card{
    border: 1px solid #D1D1D1;
    border-radius: 7px;
    padding: 16px;
}
.card-product-type{
    font-weight: 400;
    font-size: 14px;
    line-height: 12.6px;
    color: #676666;
}
.card-product-title p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.card-product-vendor p{
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
    color: #676666 !important;
}
.product-card .price{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.product-price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-card product-price{
    width: 50%;
}
.card-product-expiry-container{
    width: 50%;
    text-align: right;
}
.card-product-expiry-container .product-expiry{
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
    border-radius: 6px;
    background: #fee9e9;
    padding: 5px 13px;
    color: #ED1D23;
    display: inline-flex;
}
.add-to-cart-button{
    font-family: var(--custom-font-1);
    font-weight: 700;
    font-size: 16px;
}
.svg-wrapper.add-to-cart-icon, .svg-wrapper.add-to-cart-icon svg{
    width: 32px;
    height: 32px;
}
.add-to-cart-button{
    height: 60px;
}
.product-badges--top-right.wishlist-icon-position{
    top: 0;
    right: 0;
}
.svg-wrapper.collection-wishlist-icon {
    color: #ED1D23;
    width: 30px;
    height: 25px;
}
.svg-wrapper.collection-wishlist-icon svg{
    width: 30px;
    height: 25px;
}
facet-remove-component.custom-filter-reset{
    display: flex;
    gap: 4px;
    align-items: center;
}
