.product-card{
    border: 1px solid #D1D1D1;
    border-radius: 7px;
    padding: 16px;
}
.card-product-type{
    font-weight: 400;
    font-size: 14px;
    line-height: 12.6px;
    color: #676666;
}
.card-product-title p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.card-product-vendor p{
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
    color: #676666 !important;
}
.product-card .price{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.product-price-container {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}
.product-card product-price{
    width: 50%;
}
.card-product-expiry-container{
    width: 50%;
    text-align: right;
}