/* import google font and fontawesome */
    @import url('https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400');
    @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
    *{
      margin: 0;
      padding: 0;
    }
    div.stars{
      width: 270px;
      display: inline-block;
    }

    input.star{
      opacity: 0;
      height: 0;
    }

    .stars-wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
    #yesyes-reviews-list .stars-wrapper{
      flex-direction: row;
    }
    label.star {
      font-size: 36px;
      color: #FFCA27;
      transition: all .2s;
    }
    .stars-details label.star {
      font-size: 25px;
      padding: 0;
    }
    .reviews-header {
      display: flex;
      justify-content: space-between;
    }
    input.star:checked ~ label.star:before, label.star.filled:before, input.star:hover ~ label.star:before {
      content:'\f005';
      color: #FFCA27;
      transition: all .25s;
    }
    
    input.star-5:checked ~ label.star:before {
      color:#FFCA27;
      text-shadow: 0 0 20px #952;
    }

    input.star-1:checked ~ label.star:before {
      color: #F62;
    }

    label.star:hover{
      /* transform: rotate(144deg) scale(1.3); */
      color: #FFCA27;
    }

    label.star:before{
      content:'\f005';
      color: #BDBDBD;
      font-family: FontAwesome;
    }
    label.star.half-filled:before {
      color: #FFCA27;
      background: linear-gradient(to right, #FFCA27 50%, #BDBDBD 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .rev-box{
      overflow: hidden;
      width: 100%;
      transition: all .25s;
      display: flex;  
      flex-direction: column;
      overflow: visible;
      padding-top: 24px;
    }

    textarea.review{
      background: #222;
      border: none;
      width: 100%;
      max-width: 100%;
      height: 100px;
      padding: 10px;
      box-sizing: border-box;
      color: #EEE;
    }

    label.review{
      display: block;
      transition:opacity .25s;
    }
  
    element.style {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        gap: 14px;
    }
    .review-wrapper {
        flex-direction: column;
        width: 35%;
        gap: 14px;
        padding: 24px 16px;
        margin-top: 18px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
        background: #fff;
        display: none;
    }
    div:has(input.star:checked) ~ .rev-box{

    }
    .review-form {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
    }

    .review-form input, .review-form textarea {
      min-height: 48px;
      border-radius: 10px;
      background: white;
      margin-bottom: 15px;
      border: 1px solid #d1d5db;
      padding: 0 20px;
      font-weight: 500;
      font-size: 14px;
      color: #4B4B4B;
    }
    .review-form textarea{
      padding-top:15px;
    }

    .button_submit:hover, .review-form input:hover, .review-form textarea:hover {
      transform: scale(1.009);
      box-shadow: 0px 0px 3px 0px #212529;
    }

    .button_submit {
      width: 100%;
      height: 54px;
      font-size: 14px;
      color: white;
      background: #ed1d23;
      border-radius: 5px;
      border: none;
      font-weight: 500;
      text-transform: uppercase;
    }
    #yesyes-reviews-list label.star {
        font-size: 18px;
        padding: 4px;
    }
    .user-info{
      font-family: Inter;
      font-weight: 600;
      font-size: 12px;
      line-height: 19.6px;
      letter-spacing: 0;

    }
    span.user-avatar {
        height: 55px;
        width: 55px;
        display: flex;
        background: #D9D9D9;
        border-radius: 50%;
    }
    .user-avatar::before {
      content: '';
      display: block;
      width: 50%;
      height: 50%;
      background-image: url(https://cdn.shopify.com/s/files/1/0979/1825/5185/files/user-icon.png?v=1770630235);
      position: relative;
      background-repeat: no-repeat;
      top: 25%;
      left: 25%;
    }
    p.comment-title {
        font-family: Inter;
        font-weight: 700;
        font-size: 18px;
        line-height: 25.2px;
        letter-spacing: 0;
    }
    p.comment-content {
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 21.4px;
        letter-spacing: 0;
    }
    .user-details {
        display: flex;
        align-items: center;
        gap: 13px;
    }
    .comment-title {
      font-weight: 600;
      margin: 8px 0 4px 0;
    }
    div#yesyes-reviews-list {
        display: flex;
        gap: 16px;
        padding-top: 20px;
        flex-direction: column;
    }
    .yesyes-review {
      padding: 10px;
      border-radius: 8px;
    }
    .user {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
    }
    .stars-details {
        display: flex;
        flex-direction: column;
    }
    .reviews-count p {
        font-family: Inter;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0;
    }
    .review-section-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 10%;
    }
    .reviews-section {
        flex: 0 0 60%;
    }
    .section-stars-wrapper {
        flex: 0 0 25%;
    }
    h2.yesyes-heading {
        font-family: Inter;
        font-weight: 700;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: 0;
    }
    .average-stars {
      padding-top: 30px;
      display: flex;
      align-items: center;
      gap: 30px;
      font-family: Inter;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0;
    }
    div#total-reviews {
        font-family: Inter;
        font-weight: 700;
        font-size: 18px;
        line-height: 25.2px;
        letter-spacing: 0;
        padding: 20px 0;
    }
    span.count-label, .count-percentage {
        font-family: Inter;
        font-weight: 600;
        font-size: 14px;
        line-height: 19.6px;
        letter-spacing: 0;
    }
    .count-label{
      margin-right: 13px;
    }
    .count-percentage {
      margin-left: 17px;
    }
    .star-single {
        display: flex;
        align-items: center;
    }
    #view-all-reviews{
      margin-top: 24px;
    }
    .review-wrapper-bg.active{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0000006e;
      z-index: 10;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
    }
    .review-wrapper-bg.active .review-wrapper {
        display: flex;  
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .write-review{
      text-decoration: underline;
      cursor: pointer;
      margin-top: 16px;
    }
    span.review-label {
      font-weight: 500;
    }
    span.mandatory-star {
        color: #ed1d23;
    }
    select#review-filter {
      display: none;
    }


  select,
::picker(select) {
  appearance: base-select;
}
  select {
    flex: 1;
  }
  select {
    border: 2px solid #e50914;
    background: #fff;
    padding: 10px;
    transition: 0.4s;
    border-radius: 8px;
    width: 175px;
  }
  select:hover,
  select:focus {
    background: #fbd2d3;
  }
  select::picker-icon {
    color: #000000;
    transition: 0.4s rotate;
  }
  select:open::picker-icon {
    rotate: 180deg;
  }
  ::picker(select) {
    border: none;
  }
  option {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    border: 2px solid #e50914;
    background: #fff;
    padding: 10px;
    transition: 0.4s;
  }
  option:first-of-type {
    border-radius: 8px 8px 0 0;
  }
  option:last-of-type {
    border-radius: 0 0 8px 8px;
  }

  ::picker(select) {
    border-radius: 8px;
  }

  option:not(option:last-of-type) {
    border-bottom: none;
  }

  option:hover {
    background: #fbd2d3;
    color: #000;
  }
  option:focus{
    background: #e50914;
    color: #fff;
  }
  option .icon {
    font-size: 1.6rem;
    text-box: trim-both cap alphabetic;
  }
  selectedcontent .icon {
    display: none;
  }
  option:checked {
    font-weight: bold;
  }
  option::checkmark {
    display: none;
  }
  ::picker(select) {
    opacity: 0;
    transition: all 0.4s allow-discrete;
  }
  ::picker(select):popover-open {
    opacity: 1;
  }
  @starting-style {
    ::picker(select):popover-open {
      opacity: 0;
    }
  }
  ::picker(select) {
    top: calc(anchor(bottom) + 10px);
  }


@media screen and (max-width: 768px) {
  .review-section-wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .reviews-header {
    flex-direction: column;
    gap: 16px;
  }
}




/* Stars in PLP and product cards CSS */

.skeleton {
    height: 28px;
    width: 135px;
    border-radius: 8px;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.card-stars-container{
    label.star {
        font-size: 18px;
        padding: 1px;
    }
    span.card-review-count,span.card-review-avg{
        display: flex;
        align-content: center;
        vertical-align: middle;
        flex-wrap: wrap;
        font-weight: 500;
        font-size: 14px;
        line-height: 12.6px;
        letter-spacing: 0px;
        margin-left: 2px;
    }
    span.card-review-avg {
        margin-left: 5px;
    }
}

.product-details label.star, .product-details .product-review-avg, .product-details .product-review-count {
    font-size: 16px;
}